fastapi
uvicorn[standard]
python-dotenv
slowapi
supabase
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
torch
pydantic-settings
email-validator
pytest
pytest-asyncio
pytest-dotenv
pytest-cov
httpx
